.calculator {
	width: 500px;
	margin: 0 auto;
	text-align: center;
    border-radius: 50%;
}
.button {
	width: 90px;
	height: 60px;
	margin: 5px;
	font-size: 20px;
	background-color:rgb(238, 222, 55);
	border-bottom: 1px,1,1,1;
	border-radius: 5px;
	cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
  
}

.button:hover {background-color: rgb(130, 219, 219);
    backface-visibility: visible;
}
.button1
{
    width: 197px;
	height: 60px;
	margin: 5px;
	font-size: 20px;
	background-color:rgba(112, 243, 56, 0.693);
	border-bottom: 1px,1,1,1;
	border-radius: 5px;
	cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}
.label
{
    background-color:rgb(137, 243, 31) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: center;
    text-align: center;
    height: 80px;
    width: 800px;
    margin:auto;
    font-weight: 200;

    border-top: 10px,10,10,10;
}
.button3{
    width: 90px;
	height: 60px;
	margin: 5px;
	font-size: 20px;
	background-color:lightcyan;
	border-bottom: 1px,1,1,1;
	border-radius: 5px;
	cursor: pointer;
    border: none;
    border-bottom: 1px solid black;

}
.button2{
     width: 90px;
	height: 60px;
	margin: 5px;
	font-size: 20px;
	background-color:rgba(240, 105, 21, 0.811);
	border-bottom: 1px,1,1,1;
	border-radius: 5px;
	cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
}
.display{
    width: 400px;
    height:60px;
    font-size: 30px;
    border-radius: 8px;
    border:none;
    border-bottom: 2px solid black;
    

}